<% if logged_in %>
    
  <h3>ログインが完了しました</h3>
  
  <h1><%= current_user.name %>さんのタスク一覧</h1>

  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.id, task %> : <%= task.content %> &gt; <%= task.status %></li>
    <% end %>
  </ul>
  
  <%= link_to "新規タスクの追加", new_task_path %>

<% else %>
    <h1>ユーザ登録をしてください。</h1>
    <%= link_to "ユーザー登録", signup_path %>
    
    <h1>登録済であれば、ログインしてください</h1>
    <%= link_to "ログイン", login_path %>
    
<% end %>